/*=========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials from 'vuexy' folder
  ----------------------------------------------------------------------------------------
==========================================================================================*/

@import "vuexy/variables";

@import "vuexy/layout";
@import "vuexy/typography";
@import "vuexy/misc";
@import "vuexy/extraComponents";
@import "vuexy/themes";
@import "vuexy/transitions";

@import "vuexy/customClasses";

// Vuesax fixes and enhancments
@import "vuexy/fixesVuesax";

// Tailwind Fixes
@import "vuexy/tailwindFix";

// rtl
@import "vuexy/rtl";


.con-input-upload{
  /*width: 95%!important;*/
  /*display: block;*/
  margin: 0 auto;
  float: none!important;


}
// no print components
@media print {
  .no-print {
    display: none;
  }
  [dir=ltr] #content-area.content-area-reduced {
    margin: 0;
  }

}
