<template functional>
    <footer class="the-footer flex-wrap justify-between" :class="classes">
        <p>
          <span>
            Este validador es público, puedes consultar el código fuente
            <a href="https://bitbucket.org/dev_digitafirma/validador" target="_blank" rel="nofollow">aquí</a>.
          </span>
            <span>
              Distribuido bajo la licencia
              <a href="https://opensource.org/licenses/MIT" target="_blank" rel="nofollow">MIT</a>
              por <a href="https://verificamex.com" target="_blank" rel="nofollow">verificamex</a>.
          </span>
          <span> {{ new Date().getFullYear() }} </span>
        </p>

    </footer>
</template>

<script>
export default {
  name: 'the-footer',
  props: {
    classes: {
      type: String
    }
  }
}
</script>
